.Btns button:nth-child(1) {
  order: 16;
  width: 75%;
}

.Btns button:nth-child(2),
.Btns button:nth-child(3),
.Btns button:nth-child(4) {
  order: 9;
}

.Btns button:nth-child(5),
.Btns button:nth-child(6),
.Btns button:nth-child(7) {
  order: 7;
}

.Btns button:nth-child(8),
.Btns button:nth-child(9),
.Btns button:nth-child(10) {
  order: 5;
}

.Btns button:nth-child(11) { order: 8; }
.Btns button:nth-child(12) { order: 6; }
.Btns button:nth-child(13) { order: 4; }
.Btns button:nth-child(14) { order: 3; }
.Btns button:nth-child(15) { order: 1; }
.Btns button:nth-child(16) { order: 2; }

.Btns button:nth-child(17) {
  order: 17;
  height: 40%;
  position: relative;
  bottom: 20%;
}
